# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonrc.py
env.txt

# Personal/Test
docs/TODO.md
docs/TODO_new.md

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

estate_web_code_audit.md
post_fix_code_audit.md
speed_security_audit.md
