{% extends 'estate/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'estate/css/feedback.css' %}">
{% endblock %}

{% block content %}

<br/>
<div class="feedback-container">
    <h2 class="text-center">We value your feedback</h2>
    <p class="text-center">Your feedback helps us improve!</p>



    <!-- Feedback Form -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Feedback</button>
    </form>
</div>

{% endblock %}
